<p-toolbar styleClass="mb-6">
    <ng-template #start>
        <h5 class="m-0 ml-2.5">
            <i class="pi mr-2" [ngClass]="isEditing ? 'pi-pencil' : 'pi-plus'"></i>
            {{isEditing ? 'Editace' : 'Vytvoření'}} dopravní metody {{form.getRawValue().name}}
        </h5>
    </ng-template>
    <ng-template #end>
        <p-button icon="pi pi-save" severity="primary" class="mr-2"
                  [label]="isEditing ? 'Uložit' : 'Vytvořit'"
                  [disabled]="form.invalid"
                  (onClick)="saveDeliveryMethod()"/>
        @if (isEditing) {
            <p-button label="Odstranit" icon="pi pi-trash" severity="danger"
                      (onClick)="deleteDeliveryMethod()"/>
        }
    </ng-template>
</p-toolbar>
<div class="flex flex-col md:flex-row gap-8">
    <div class="md:w-2/3">
        <div class="card flex flex-col">
            <app-overview
                [form]="form"/>
        </div>
    </div>
    <div class="md:w-1/3">
        <div class="card flex flex-col">
            <app-courier-type-select
                [courierTypes]="courierTypes"
                [form]="form"/>
        </div>
    </div>
</div>

<p-confirmdialog [style]="{ width: '450px' }"></p-confirmdialog>
