<h2 class="m-0.5">Hierarchie kategorie</h2>
<p class="text-gray-500 text-sm m-0.5">Nadřazená kategorie pro danou kategorii.</p>
<p-divider/>
<form [formGroup]="form">
    <p-floatlabel variant="over" class="mt-8">
        <label>Nadřazená kategorie</label>
        <p-treeselect
            formControlName="parent"
            placeholder="Vyberte nadřazenou kategorii"
            emptyMessage="Nejsou dostupné žádné kategorie."
            fluid="true"
            filter="true"
            showClear="true"
            [options]="categories"
        >
        </p-treeselect>
    </p-floatlabel>
</form>
