<div class="col-span-12 lg:col-span-6 xl:col-span-4">
    <div class="card mb-0">
        <div class="flex justify-between mb-4">
            <div>
                <span class="block text-muted-color font-medium mb-4">{{title}}</span>
                <div class="text-surface-900 dark:text-surface-0 font-medium text-xl">{{value}}</div>
            </div>
            <div class="flex items-center justify-center rounded-border"
                 [ngClass]="iconBgClass"
                 style="width: 2.5rem; height: 2.5rem">
                <i class="pi !text-xl" [ngClass]="iconClass"></i>
            </div>
        </div>
        <span class="text-primary font-medium">{{highlightText}} </span>
        <span class="text-muted-color">za poslední týden</span>
    </div>
</div>
